
.main{
  margin:5% 2%;
  padding: 2%;
  text-align: center;
}
.main1{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.main2{
  display:grid;
  grid-template-columns: 50% 50%;
  text-align: left;
}
p{
  margin-left:12%;
  font-size:x-large;
  font-weight: 600;
}
.main3{
  display:grid;
  grid-template-columns:60% 40%;
}
table{
  width:100%;
}
table, th, td {
  border: 1px solid rgba(0, 0, 0, 0.438);
}
input{
  width:250px;
  height:55px;
  text-decoration: none;
  outline-style: none;
  font-size: larger;
  color:rgba(0, 0, 0, 0.952)
}

button{
  width:200px;
  height:55px;
  background-color: rgba(9, 230, 28, 0.76);
  border: none;
  outline-style: none;
}
.iconsContainer{
  display:flex;
  justify-content: center;
  align-items: center;
}
.Foot{
  border-radius: 5px;
  margin: 5% 0%;
  background-color: rgba(0, 0, 0, 0.274);
}
.Header{
  border-left:5px solid red;
  color:rgb(49, 219, 49);
  font-size: 30px;
  margin:0% 35%;
  margin-bottom:5%;
  width:300px;
  height:45px;
  font-weight: bold;

}